/* Global Content */

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-content
{
    max-width: 50%;
    min-width: 250px;
    margin: 0 auto;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5;
}

/* Banner */

.banner 
{
    width: 80%;
    min-width: 260px;
    margin: 0px auto 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.banner img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Presentation Home */

.presentation p
{
    margin: 10px 0;
}

/* Historics */

.historics
{
    width: 80%;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.historics .events
{
    width: 60%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 20px;
}

.historics .events .event
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    padding: 5px;
    font-size: 1.2em;
    background-color: var(--networksPrimary);
    border: 1px solid var(--historicsBorder);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.historics .event:last-of-type
{
    background-color: var(--secondaryColor);
}

.historics .event:last-of-type div
{
    filter: drop-shadow(0 0 2px rgb(0,0,0));
    -webkit-filter:drop-shadow(0 0 2px rgb(0,0,0));
}

.historics .dates
{
    font-size: 0.7em;
    font-weight: bold;
}

.historics .donations
{
    font-size: 1.2em;
}

.historics .associations
{
    font-size: 0.6em;
}

/* Home : Streamers */

.streamers
{
    width: 80%;
    min-width: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.streamers div
{
    width: 60%;
    min-width: 260px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

.streamers a
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 240px;
    text-align: center;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
}

.streamers a strong
{
    color: var(--thirdColor);
    font-size: 1rem;
}

.streamers img
{
    width: 100%;
    height: 100%;
    background-color: var(--streamers);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
}

.streamers a:hover img
{
    background-color: var(--secondaryColor);
}

.streamers a:hover strong
{
    color: var(--secondaryColor);
}